################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj

/EHWinFormViews/EHWinFormViews.vbproj.user
/EHWinFormViews.App/EHWinFormViews.App.vbproj.user
