<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="eh-fleet" value="https://pkgs.dev.azure.com/eh-systemhaus/ehfleet_classlibrary/_packaging/eh_fleet/nuget/v3/index.json" />
		<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
</configuration>