<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EHFleetXRechnung.App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EHFleetXRechnung.App.My.MySettings>
            <setting name="UseRegDbCnStr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppDbCnStr" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=ehfleet_sa;Initial Catalog=EHFleet;Data Source=ENTWICKLUNG11\SQLEXPRESS</value>
            </setting>
        </EHFleetXRechnung.App.My.MySettings>
    </userSettings>
</configuration>
